<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>¿A dónde quieres ir?</h1>

    <!-- Botones para redirigir -->
    <form action="{{ url_for('message') }}" method="get">
        <button type="submit">Ir a mensajes</button>
    </form>

    <form action="{{ url_for('listar_tareas') }}" method="get">
        <button type="submit">Ir a tareas</button>
    </form>

</body>
</html>
